@import './Templates.scss';

.blogsPage {
  padding-bottom: 40px;
  .title {
    @include title
  }
  .text {
    @include text;
    @media screen and (max-width: 560px) {
      font-size: 14px;
    }
  }
  .blogs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 1170px) {
      justify-content: center;
    }
    .blog {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      max-width: 370px;
      height: 460px;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      margin-bottom: 40px;
      @media screen and (max-width: 1170px) {
       &:nth-child(1), &:nth-child(3), &:nth-child(5) {
         margin-right: 15px;
       }
      }
      @media screen and (max-width: 800px) {
        &:nth-child(1), &:nth-child(3), &:nth-child(5) {
          margin-right: 0px;
        }
       }
      &-photo {
        height: 280px;
        width: 100%;
        object-fit: cover;
      }
      &-title {
        text-align: center;
        margin: 10px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
      }
      &-text {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        @media screen and (max-width: 560px) {
          font-size: 13px;
         }
      }
      .btn {
        @include btn;
        max-width: 250px;
        margin: 10px 0;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 560px) {
          margin-top: 30px;
         }
      }
    }
  }
}