@import './Templates.scss';
@import './Variables.scss';

.burger-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  // transition: 100ms;
}
.show {
  opacity: 1;
  pointer-events: all;
}
.burger {
  display: none;
  @media screen and (max-width: 1170px) {
    display: block;
    position: fixed;
    z-index: 100;
    padding: 16px;
    top: 0;
    right: -500px;
    width: 296px;
    height: 691px;
    background: $darkGreen;
    border-radius: 10px 0px 0px 10px;
    transition: 800ms;
    .close-icon {
      float: right;
      cursor: pointer;
    }
    img {
      fill: #ffffff;
      width: 24px;
      height: 24px;
    }
    .nav {
      margin-top: 28px;
      .item {
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
        font-weight: normal;
        margin-bottom: 10px;
        position: relative;
        .dropdown {
          position: absolute;
          top: 100%;
          left: 0;
          opacity: 0;
          transform: 500ms;
        }
        .dropdown-active {
          transform: translate(0,0);
          opacity: 1;
        }
      }
      .faq {
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);;
      }
    }
    .links {
      margin: 10px 0;
      img {
        margin-right: 10px;
      }
    }
    .contacts {
      select {
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        appearance:none;
        outline:0;
        box-shadow:none;
        border:1px solid $lightGreen !important;
        background: $lightGreen;
        color: rgb(255, 255, 255) !important;
        background-image: none;
        color:#0A0816;;
        padding: 5px;
        border-radius: 20px;
        cursor:pointer;
        font-size: 14px;
        text-align: center;
      }
      select::-ms-expand {
        display: none;
      }
      .select {
        position: relative;
        display: flex;
      }       
      .item {
        display: flex;
        align-items: center;
        margin-top: 10px;
        div {
          font-weight: 300;
          font-size: 15px;
          line-height: 18px;
          color: #FFFFFF;
          margin-left: 10px;
        }
      }
    }
  }
}

.burger-icon {
  cursor: pointer;
}

.burger-active {
  right: 0;
  transition: 800ms;
}