@import './Variables.scss';
@import './Templates.scss';

.footer {
  background: $darkGreen;
  color: #FFFFFF;
  &-top {
    padding: 30px 0 20px 0;
    .container {
      display: flex;
      justify-content: space-between;
      font-family: 'Open Sans', sans-serif;
      .logo {
        width: 270px;
        height: 98px;
      }
      .nav-1, .nav-2, .nav-3 {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        .item {
          font-size: 18px;
          font-weight: 400;
          margin-top: 10px;
        }
      }
      .nav-1 {
        width: 90px;
        .item {
          display: inline-block;
          width: 100%;
        }
      }
      .nav-2 {
        width: 272px;
        .item {
          display: inline-block;
          width: 100%;
        }
      }
      .nav-3 {
        width: 192px;
        .icon {
          margin-top: 20px;
          margin-right: 30px;
          fill: #FFFFFF;
          width: 30px;
          height: 30px;
        }
        .instagram {
          margin-right: 0;
        }
      }
    }
  }
  &-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 0 23px 0;
    text-align: center;
  }
}