@import './Variables.scss';
@import './Templates.scss';

.footer {
  background: $darkGreen;
  color: #FFFFFF;
  &-top {
    padding: 30px 0 20px 0;
    .container {
      display: flex;
      justify-content: space-between;
      font-family: 'Open Sans', sans-serif;
      .logo {
        width: 270px;
        height: 98px;
        @media screen and (max-width: 1170px) {
          width: 168px;
          height: 61px;
        }
        @media screen and (max-width: 560px) {
          width: 120px;
          height: 41px;
        }
        @media screen and (max-width: 420px) {
          display: none;
        }
      }
      .nav-1, .nav-2, .nav-3 {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        @media screen and (max-width: 1170px) {
          font-size: 18px;
          line-height: 150%;
        }
        @media screen and (max-width: 560px) {
          font-size: 14px;
        }
        .item {
          font-size: 18px;
          font-weight: 400;
          margin-top: 10px;
          @media screen and (max-width: 1170px) {
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
          }
          @media screen and (max-width: 560px) {
            font-size: 14px;
          }
        }
      }
      .nav-1 {
        .item {
          display: inline-block;
          width: 100%;
        }
      }
      .nav-2 {
        .item {
          display: inline-block;
          width: 100%;
          @media screen and (max-width: 560px) {
            width: 115px;
          }
        }
      }
      .nav-3 {
        width: 172px;
        @media screen and (max-width: 560px) {
          width: 130px;
        }
        .icon {
          margin-top: 20px;
          margin-right: 10px;
          fill: #FFFFFF;
          width: 30px;
          height: 30px;
          @media screen and (max-width: 1170px) {
            width: 24px;
            height: 24px;
          }
          @media screen and (max-width: 560px) {
            margin-right: 17px;
          }
        }
        .instagram {
          margin-right: 0;
        }
      }
    }
  }
  &-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 0 23px 0;
    text-align: center;
    @media screen and (max-width: 560px) {
      font-size: 14px;
      line-height: 17px;
      padding: 16px 0;
    }
  }
}