@import './Variables.scss';
@import './Templates.scss';

.header {
  padding: 14px 0 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: Lato;
  font-style: normal;
  @media screen and (max-width: 1170px) {
    padding: 16px 0;
    align-items: center;
  }
  .logo {
    background: url('../img/logo.png') center/cover;
    width: 270px;
    height: 98px;
    margin-bottom: 8px;
    @media screen and (max-width: 1170px) {
      width: 168px;
      height: 61px;
      margin: 0;
    }
    @media screen and (max-width: 768px) {
      width: 110px;
      height: 40px;
    }
  }
  .mobile {
    display: none;
    @media screen and (max-width: 1170px) {
      display: flex;
    }
    .btn-mob {
      width: 260px;
      margin-right: 67px;
      @media screen and (max-width: 768px) {
        width: 142px;
        // height: 30px;
        margin-right: 26px;
      }
    }
    .burger {
      width: 32px;
      height: 32px;
      @media screen and (max-width: 1170px) {
        display: block;
      }
    }
  }
  .content {
    @media screen and (max-width: 1170px) {
      display: none;
    }
    width: auto;
    height: 100%;
    .navigation {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .nav {
        margin-bottom: 8px;
        margin-right: 50px;
        .active {
          color: $lightGreen;
        }
        ul {
          display: flex;
        }
        .item {
          position: relative;
          margin-right: 20px;
          font-size: 20px;
          line-height: 24px;
          &:hover > .dropdown {
            transform: translate(0,0);
            opacity: 1;
            pointer-events: all;
          }
         .link {
          transition: .5s;
          &:hover {
            color: $lightGreen;
          }
         }
          .dropdown {
            position: absolute;
            z-index: 20;
            top: 100%;
            left: 0;
            width: 290px;
            padding: 8px 8px 0 8px;
            background-color: rgb(255, 255, 255);
            transform: translateY(10px);
            box-shadow: $shadow;
            opacity: 0;
            pointer-events: none;
            transition: 0.5s;
            &-item {
              margin-bottom: 8px;
            }
            &-item > a {
              display: flex;
              justify-content: space-between;
              font-size: 20px;
              width: 100%;
            }
          }
        }
        .end {
          margin-right: 0;
        }
      }
    }
    .contacts {
      display: flex;
      justify-content: flex-end;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 28px;
      .faq {
        margin-right: 22px;
      }
      .line {
        border: 1px solid rgba(0, 0, 0, 0.15);
        height: 40px;
        margin: 0 10px;
      }
      &-left, &-right {
        display: flex;
        align-items: center;
      }
      &-left {
        .btn-auth {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 7px 0;
          border: none;
          outline: none;
          border-radius: 10px;
          width: 170px;
          margin-left: 15px;
          background: $yellow;
          cursor: pointer;
        }
        .item {
          display: flex;
          align-items: center;
          .address {
            width: 162px;
            margin-left: 10px;
          }
          .phone {
            width: 126px;
            margin-left: 10px;
          }
        }
      }
      &-right {
        margin-left: 50px;
        .item {
          margin-left: 20px;
        }
        select {
          -webkit-appearance:none;
          -moz-appearance:none;
          -ms-appearance:none;
          appearance:none;
          outline:0;
          box-shadow:none;
          border:1px solid $lightGreen !important;
          // background: $lightGreen;
          background-image: none;
          color:#0A0816;;
          padding: 5px;
          border-radius: 20px;
          cursor:pointer;
          font-size: 14px;
          text-align: center;
        }
        select::-ms-expand {
          display: none;
        }
        .select {
          position: relative;
          display: flex;
          margin-left: 25px;
        }
        
      }
    }
  }
  .btn {
    @include btn
  }
}
