* {
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
    margin: 0;
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    height: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    h1, h2, p {
      margin: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
      width: 0;
    }
    .container{
      max-width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
    }
    position: relative;
    min-height: 100%;
    .clinic-photo {
      width: 100%;
      object-fit: cover;
      max-height: 550px;
    }
    .success {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 140%;
      margin-bottom: 20px;
      &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-title {
        font-size: 22px;
        text-align: center;
      }
      &-icon {
        width: 48px;
        height: 48px;
        margin: 25px 0;
      }
      &-text {
        font-size: 16px;
        text-align: center;
      }
    }
    .slider {
      .selected {
        width: 100%;
        height: 550px;
        object-fit: cover;
        margin-bottom: 20px;
        @media screen and (max-width: 560px) {
         height: 220px;
         margin-bottom: 8px;
        }
      }
      .images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
          width: 170px;
          height: 140px;
          object-fit: cover;
          cursor: pointer;
          @media screen and (max-width: 1170px) {
            margin-bottom: 10px;
          }
          @media screen and (max-width: 560px) {
            width: 48px;
            height: 43px;
            margin: 0;
           }
        }
      }
    }
    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid #f3f3f3; 
      border-top: 1px solid #888282; 
      border-radius: 50%;
      width: 10px;
      height: 10px;
      animation: spin .7s linear infinite;
    }
    
    @keyframes spin {
      0% { transform:translate(-50%, -50%)  rotate(0deg) }
      100% { transform:translate(-50%, -50%)  rotate(360deg)}
    }
  }
  
  
  