@import './Templates.scss';
@import './Variables.scss';

.mainPage {
  .section-1{
    background: url('../img/photo-1.png') center/cover;
    width: 100%;
    height: 600px;
    padding-top: 331px;
    @media screen and (max-width: 1000px) {
      height: 350px;
      padding-top: 95px;
    }
      .title {
        font-size: 32px;
        line-height: 140%;
        width: 511px;
        @media screen and (max-width: 1000px) {
          width: 280px;
        }
      }
  }
  .section-2 {
    margin: 80px 0;
    @media screen and (max-width: 1000px) {
      margin: 50px 0;
    }
    .container {
      display: flex;
      @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
      }
      .photo {
        width: 570px;
        max-height: 500px;
        margin-right: 28px;
        object-fit: cover;
        @media screen and (max-width: 1000px) {
          width: 560px;
          height: 517px;
          margin-right: 0;
        }
        @media screen and (max-width: 850px) {
          width: 260px;
          height: 317px;
        }
        @media screen and (max-width: 850px) {
          max-width: 586px;
          width: 100%;
          height: 426px;
        }
        @media screen and (max-width: 560px) {
          width: 100%;
          height: 326px;
        }
      }
      .content {
        .title {
          color: $lightGreen;
          font-weight: 300;
          font-size: 36px;
          line-height: 140%;
          @media screen and (max-width: 1000px) {
            text-align: center;
            font-size: 28px;
          }
          @media screen and (max-width: 560px) {
            font-size: 24px;
          }
        }
        .text {
          @include text;
          margin: 20px 0;
          @media screen and (max-width: 1000px) {
            margin: 10px 0;
          }
          @media screen and (max-width: 560px) {
            font-size: 13px;
            margin: 8px 0;
          }
        }
        .btn {
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          color: $lightGreen;
          // @media screen and (max-width: 560px) {
          //   font-size: 14px;
          //  }
        }
      }
    }
  }
  .section-3 {
    .title {
      @include title
    }
    @include views;
    .views {
      .view {
        margin-right: 15px;
        @media screen and (max-width: 1000px) {
          margin-right: 0;
          margin-bottom: 36px;
        }
      }
      .view-4 {
        margin-right: 0;
      }
      .icon {
        margin: 45px 0 37px 0;
        width: 77px;
        height: 100px;
      }
      .text {
        margin-bottom: 38px;
        @media screen and (max-width: 560px) {
          font-size: 14px;
         }
      }
    }
  }
  .section-4 {
    margin: 80px 0;
    @media screen and (max-width: 1070px) {
      margin: 50px 0;
    }
    @media screen and (max-width: 560px) {
      margin: 40px 0;
    }
    .container {
      padding: 47px 80px 15px 140px;
      height: 160px;
      background: $lightGreen;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1170px) {
        margin: 0 15px;
        padding: 45px 35px 0 30px;
      }
      @media screen and (max-width: 560px) {
        padding: 16px 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .text {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: #FFFFFF;
        // width: 500px;
        @media screen and (max-width: 1170px) {
          font-size: 18px;
          max-width: 324px;
          margin-right: 5px;
        }
        @media screen and (max-width: 560px) {
          font-size: 14px;
          margin-bottom: 8px;
        }
      }
      .btn {
        @include btn;
        background: #FFFFFF;
        color: $lightGreen;
        margin-top: 8px;
        @media screen and (max-width: 1170px) {
          width: 250px;
          height: 48px;
        }
      }
    }
  }
  .section-5 {
    button.rec-dot{
      background-color: white;
      box-shadow: $lightGreen;
      border-color: $lightGreen;
    }
    
    button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
      box-shadow: 0 0 1px 3px $lightGreen;
      background-color:  white;
      border-color: $lightGreen;
    }
    .container {
      .title {
        @include title
      }
      .views {
        display: flex;
        @media screen and (max-width: 560px) {
          flex-wrap: wrap;
          justify-content: center;
        }
        .view {
          max-width: 370px;
          width: 100%;
          height: 341px;
          margin-top: 10px;
          box-shadow: $shadow;
          border-radius: 10px;
          margin-right: 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          // margin-right: 15px;
          @media screen and (max-width: 1170px) {
            max-width: 260px;
          }
          @media screen and (max-width: 560px) {
            // margin-right: 0px;
            max-width: 100%;
            margin-bottom: 16px;
          }
          .name {
            margin-top: 5px;
            font-weight: bold;
          }
          .photo {
            width: 100%;
            height: 171px;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
            @media screen and (max-width: 560px) {
              height: 200px;
            }
            @media screen and (max-width: 360px) {
              height: 171px;
            }
          }
          .text {
            margin: 10px 5px;
            font-size: 16px;
            line-height: 150%;
            max-width: 291px;
            @media screen and (max-width: 1170px) {
              max-width: 100%;
            }
            @media screen and (max-width: 560px) {
              font-size: 14px;
              margin-top: 8px;
             }
          }
        }
      }
    }
  }
  .section-6 {
    display: flex;
    justify-content: center;
    margin: 20px 0 80px 0;
    @media screen and (max-width: 560px) {
      margin-bottom: 40px;
    }
    .container {
      position: relative;
      margin: 0;
      .video {
        border-radius: 10px;
        width: 970px;
        height: 470px;
        height: 100%;
        @media screen and (max-width: 1170px) {
          width: 720px;
          height: 480px;
        }
        @media screen and (max-width: 768px) {
          width: 520px;
          height: 500px;
        }
        @media screen and (max-width: 560px) {
          width: 320px;
          height: 300px;
        }
      }
      .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }
  }
}
