.mainPage {
  .headerContentBlock {
    background: url('../img/photo-1.png') center/cover;
    width: 100%;
    height: 600px;
      .title {
        font-size: 32px;
        line-height: 140%;
        width: 511px;
      }
  }
}