@import './Templates.scss';
@import './Variables.scss';

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  font-family: Lato;
  font-style: normal;
  z-index: 300;
  .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    padding: 20px 24px;
    width: 468px;
    transform: scale(0.5);
    transition: 0.4s all;
    @media screen and (max-width: 560px) {
      width: 300px;
      padding: 18px 20px;
    }
    // @media screen and (max-width: 560px) {
    //   width: 300px;
    //  }
    .title {
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      @media screen and (max-width: 560px) {
        font-size: 18px;
        line-height: 20px;
      }
    }
    p {
      margin: 15px 0 10px 0;
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      @media screen and (max-width: 560px) {
        font-size: 16px;
        line-height: 18px;
      }
    }
    .input {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      height: 40px;
      outline: none;
      padding: 0 10px;
      font-size: 15px;
      margin-top: 8px;
      @media screen and (max-width: 560px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
    .label {
      margin: 10px 0 5px 0;
      font-size: 16px;
      line-height: 19px;
    }
    .error {
      font-size: 12px;
      color: #ff0000;
    }
    .check-wrapper {
      margin: 10px 0 0 0;
      .check {
        font-size: 18px;
      }
    }
    .btn {
      @include btn;
      width: 100%;
      margin-top: 15px;
      height: 40px;
    }
  }
  .content.active {
    transform: scale(1);
    transition: 0.4s all;
  }
}

.active {
  opacity: 1;
  pointer-events: all;
}

.modal-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  font-family: Lato;
  font-style: normal;
}
.show {
  opacity: 1;
  pointer-events: all;
}
.modal2 {
  width: 300px;
  position: absolute;
  color: #FFFFFF;
  right: -600px;
  transition: 700ms;
  .signUp {
    .name {
      margin-bottom: 8px;
    }
    .phone, .phone input {
      height: 39px;
      width: 100% !important;
      @media screen and (max-width: 560px) {
        width: 100% !important;
      }
    }
  }
  .content2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background: $darkGreen;
    padding: 20px 24px;
    width: 385px;
    @media screen and (max-width: 560px) {
      width: 300px;
     }
    .title {
      text-align: center;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      @media screen and (max-width: 560px) {
        font-size: 18px;
        line-height: 20px;
      }
    }
    .question {
      font-size: 14px;
      margin-top: 3px;
      cursor: pointer;
    }
    p {
      margin: 15px 0 0 0;
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      @media screen and (max-width: 560px) {
        font-size: 16px;
        line-height: 18px;
      }
    }
    .input {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      height: 40px;
      outline: none;
      padding: 0 10px;
      font-size: 15px;
      margin-top: 10px;
      @media screen and (max-width: 560px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
    .label {
      margin: 10px 0 5px 0;
      font-size: 16px;
      line-height: 19px;
    }
    .error {
      font-size: 15px;
      color: #f3ef07;
    }
    .check-wrapper {
      margin: 10px 0 0 0;
      .check {
        font-size: 18px;
        @media screen and (max-width: 560px) {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
    .btn {
      @include btn;
      width: 100%;
      margin-top: 25px;
      height: 40px;
    }
  }
}

.up {
  right: 80px;
  // transition: 800ms;
  @media screen and (max-width: 560px) {
    right: 0;
  }
  }
 

@keyframes showFormMobile {
  0% {
    top: 0;
    right: -100%;
    transform: translateX(-50%);
  }
  100% {
    top: 0;
    right: 0;
    transform: translateX(0);
  }
}  


.check-wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
  .check-input {
    margin: 0 10px 0 0;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
}
.check {
  @media screen and (max-width: 560px) {
    font-size: 14px;
    line-height: 15px;
  }
}

.loginForm {
  .input-text {
    height: 100px !important;
    margin-top: 10px;
    padding: 10px !important;
  }
  .phone, .phone input {
    height: 39px;
    width: 100% !important;
    @media screen and (max-width: 560px) {
      width: 100% !important;
    }
  }
}



