@import './Variables.scss';

@mixin btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 269px;
    height: 40px;
    border-radius: 40px;
    background: $lightGreen;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

@mixin title {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 140%;
  color: $lightGreen;
  margin-bottom: 20px;
}