@import './Templates.scss';
@import './Variables.scss';

.worksPage {
  .example {
    .title {
      @include title
    }
   .examples {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     @include example;
     @media screen and (max-width: 1170px) {
      justify-content: center;
    }
   }
   .name {
     margin-bottom: 10px;
   }
   .text {
     margin-bottom: 40px;
     font-size: 18px;
      line-height: 150%;
      @media screen and (max-width: 560px) {
        font-size: 13px;
      }
   }
  }
  .section-1 {
    .title {
      @include title
    }
    p {
      @include text;
      margin: 25px 0;
    }
    .views {
      display: flex;
      justify-content: space-between;
      position: relative;
      @media screen and (max-width: 1170px) {
        flex-direction: column;
        align-items: center;
      }
      .left {
        @media screen and (max-width: 1170px) {
          margin-bottom: 15px;
        }
      }
      .left, .right {
        position: relative;
        padding: 20px 50px 20px 100px;
        max-width: 570px;
        width: 100%;
        height: 637px;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        @media screen and (max-width: 768px) {
          height: 536px;
        }
        @media screen and (max-width: 768px) {
          height: 600px;
        }
        .btn {
          @include btn;
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 20px;
          line-height: 24px;
        }
        .view-wrapper {
          .view-title {
            font-weight: 500;
            font-size: 19px;
            line-height: 150%;
            @media screen and (max-width: 768px) {
              font-size: 16px;
            }
          }
          .view {
            margin-top: 10px;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            @media screen and (max-width: 768px) {
              margin-top: 8px;
              font-size: 13px;
            }
            @media screen and (max-width: 560px) {
              margin-top: 5px;
            }
            @media screen and (max-width: 340px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .section-2 {
    .title {
      @include title
    }
    .main-text {
      @include text;
      margin-bottom: 20px
    }
    @include views;
    .views {
      .view {
        padding: 0 22px;
        p {
          font-size: 16px;
          line-height: 150%;
        }
        .icon {
          margin: 17px 0 20px 0;
          width: 56px;
          height: 52px;
        }
        .text {
          margin-bottom: 15px
        }
        .item {
          width: 100%;
          font-size: 16px;
          line-height: 150%;
          margin-bottom: 8px;
        }
      }
    }
    .views-rec {
      display: flex;
      justify-content: center;
      .view-rec {
        margin: 10px 0 20px 0;
        padding: 15px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 970px;
        width: 100%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        @media screen and (max-width: 560px) {
          font-size: 13px;
        }
        .icon {
          margin-bottom: 6px;
        }
        .item {
          margin-top: 10px;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }
  }
  .section-3 {
    padding-left: 100px;
    @media screen and (max-width: 1170px) {
      padding: 0;
    }
    .title {
      @include title;
      margin-bottom: 25px;
    }
    .content {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 560px) {
        flex-direction: column;
        justify-content: flex-start;
      }
      .left {
        width: 300px;
      }
      .right {
        max-width: 670px;
        width: 100%;
      }
      .left, .right {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        @media screen and (max-width: 560px) {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
          line-height: 150%;
          @media screen and (max-width: 560px) {
            font-size: 13px;
          }
          &:nth-child(2) {
            font-weight: bold;
            margin-top: 20px;
          }
        }
      }
    }
    .content--2 {
      margin-top: 50px;
      @media screen and (max-width: 560px) {
        margin-top: 20px;
      }
    }
  }
  .section-4 {
    margin-top: 80px;
    @media screen and (max-width: 1170px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 560px) {
      margin-top: 40px;
    }
    .container {
      padding: 16px 8px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      // @media screen and (max-width: 1170px) {
      //   padding: 15px 7px;
      // }
      .title {
        @include title;
      }
      .title {
        margin-top: 0;
      }
      .text {
        font-size: 18px;
        line-height: 140%;
        @media screen and (max-width: 560px) {
          font-size: 13px;
        }
      }
    }
  }
}